<mat-card>Asignar Roles a Usuario</mat-card>

<form class="example-container" [formGroup]="form" #frmMenuRol="ngForm" (ngSubmit)="grabar()">

    <div class="example-container-row">
        <div [hidden]="true">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="ID" required formControlName="id">
            </mat-form-field>
        </div>

        <mat-form-field class="example-full-width"> 
            <input matInput placeholder="Usuario Seleccionado" minlength="3" required formControlName="nombre">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Rol</mat-label>
            <mat-select [(value)]="idRolSeleccionado">
            <mat-option *ngFor="let rol of roles" [value]="rol.idRol">
                {{rol.nombre}}
            </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" type="button" (click)="agregar()">
            <span>Agregar</span>
        </button>
    </div>
    <div class="example-container-row">
        <mat-list>
            <h3 mat-subheader>Roles Actuales</h3>
            <mat-list-item *ngFor="let usr of rolesActuales">
                <h4 mat-line>{{usr.rol.nombre}}</h4>
            </mat-list-item>
        </mat-list>

        <mat-list>
            <h3 mat-subheader>Nuevos Roles</h3>
            <mat-list-item *ngFor="let rol of rolesNuevos; let i=index">
                <h4 mat-line>{{rol.nombre}}</h4>
                <button mat-raised-button color="warn" (click)="removerRol(i)">Remover</button>
            </mat-list-item>
        </mat-list>
    </div>

    <button mat-raised-button color="primary" type="submit" >
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/usuariorol' type="button">
        <span>Cancelar</span>
    </button>

</form>