<mat-card>Rol</mat-card>

<form class="example-container" [formGroup]="form" #frmRol="ngForm" (ngSubmit)="grabar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <div *ngIf="f.nombre.errors?.required" class="invalido">Nombre es requerido</div>        
        <div *ngIf="f.nombre.errors?.minlength" class="invalido">El campo debe ser mayor a 3 caracteres</div>        
        <input matInput placeholder="Nombre" minlength="3" required formControlName="nombre">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmRol.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/rol' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>
